<div class="perfil row">
  <h3 class="header-page">{{paciente.nombre}} {{paciente.apaterno}} {{paciente.amaterno}}</h3>
  <div class="col-md-10">
    <ul>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Estado de Salud:</strong>
            </div>
            <div class="content">
              {{info.estado_Salud}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Diagnostico ingreso:</strong>
            </div>
            <div class="content">
              {{info.diagnostico_ingreso}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Servicios:</strong>
            </div>
            <div class="content">
              {{info.servicios}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Cama:</strong>
            </div>
            <div class="content">
              {{info.cama}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Fecha de Internado:</strong>
            </div>
            <div class="content">
              {{info.fecha_internado | date}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <a href="#" ng-click="form = true" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i>
       Editar Info Clinica
     </a>
  </div>
</div>

<div class="form-editar" tabindex="-1" role="dialog" ng-show="form">
  <form class="" action="" ng-submit="update_info($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" ng-click="form=false" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="form-group">
            <div class="info">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Fecha de Ingreso</label>
                    <input type="text"class="form-control" ng-model="fecha_internado">
                  </div>

                  <div class="form-group">
                    <label>Diagnostico de ingreso</label>
                    <input type="text"class="form-control" ng-model="diagnostico_ingreso">
                  </div>
                  <div class="form-group">
                    <label>Estado de Salud</label>
                    <input type="text"class="form-control" ng-model="estado_Salud">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Servicios</label>
                    <input type="text"class="form-control" ng-model="servicios">
                  </div>
                  <div class="form-group">
                    <label>Cama</label>
                    <input type="text"class="form-control" ng-model="cama">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" ng-click="form = false" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <input type="submit" name="name" class="btn btn-primary" value="Guardar Cambios">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->
