<div class="perfil row">
  <h3 class="header-page">{{paciente.nombre}} {{paciente.apaterno}} {{paciente.amaterno}}</h3>
  <div class="col-md-10">
    <ul>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>CURP:</strong>
            </div>
            <div class="content">
              {{paciente.curp}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Expediente:</strong>
            </div>
            <div class="content">
              {{paciente.expediente}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>No Afiliación:</strong>
            </div>
            <div class="content">
              {{paciente.no_afiliacion}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Sexo:</strong>
            </div>
            <div class="content">
              {{paciente.sexo}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Fecha de Nacimiento:</strong>
            </div>
            <div class="content">
              {{paciente.fec_nac | date}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Entidad de Nacimiento:</strong>
            </div>
            <div class="content">
              {{paciente.entidad_nac}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Nacionalidad:</strong>
            </div>
            <div class="content">
              {{paciente.nacionalidad}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Entidad:</strong>
            </div>
            <div class="content">
              {{paciente.entidad}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="display">
          <div class="info">
            <div class="etiqueta">
              <strong>Municipio:</strong>
            </div>
            <div class="content">
              {{paciente.municipio}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-2">
    <a href="#" ng-click="form = true" class="btn btn-info">
      <i class="glyphicon glyphicon-edit"></i>
       Editar Perfil
     </a>
  </div>
</div>

<div class="form-editar" tabindex="-1" role="dialog" ng-show="form">
  <form class="" action="" ng-submit="update_perfil($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" ng-click="form=false" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="form-group">
            <div class="paciente">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Expediente</label>
                    <input type="text"class="form-control" ng-model="expediente">
                  </div>

                  <div class="form-group">
                    <label>No. de Afiliacion</label>
                    <input type="text"class="form-control" ng-model="no_afiliacion">
                  </div>

                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"class="form-control" ng-model="nombre">
                  </div>

                  <div class="form-group">
                    <label>A Paterno</label>
                    <input type="text"class="form-control" ng-model="apaterno">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>A Materno</label>
                    <input type="text"class="form-control" ng-model="amaterno">
                  </div>

                  <div class="form-group">
                    <label>Sexo</label>
                    <input type="text"class="form-control" ng-model="sexo">
                  </div>
                  <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <div class="input-group date" id="datetimepicker1">
                      <input type="text"class="form-control" ng-model="fec_nac">
                      <span class="input-group-addon dropdown-toggle">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Entidad de Nacimiento</label>
                    <input type="text"class="form-control" ng-model="entidad_nac">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>CURP</label>
                    <input type="text"class="form-control" ng-model="curp">
                  </div>

                  <div class="form-group">
                    <label>Municipio</label>
                    <input type="text"class="form-control" ng-model="municipio">
                  </div>

                  <div class="form-group">
                    <label>Entidad</label>
                    <input type="text"class="form-control" ng-model="entidad">
                  </div>

                  <div class="form-group">
                    <label>Nacionalidad</label>
                    <input type="text"class="form-control" ng-model="nacionalidad">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" ng-click="form = false" class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <input type="submit" name="name" class="btn btn-primary" value="Guardar Cambios">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->
