.perfil ul {
  list-style: none; }
  .perfil ul li {
    padding: 15px;
    border-bottom: 1px solid #eee; }
    .perfil ul li .display .info {
      display: inline-block; }

.form-editar {
  position: fixed;
  z-index: 1000;
  top: 5vh; }
  .form-editar .modal-content {
    width: 800px; }
