.perfil{
  ul{
    list-style: none;
    li{
      padding: 15px;
      border-bottom: 1px solid #eee;
      .display{
        .info{
          display: inline-block;
        }
      }
    }
  }
}

.form-editar{
  position: fixed;
  z-index: 1000;
  top: 5vh;
  .modal-content{
    width: 800px;
  }
}
