{% extends 'template.html' %}
{% block titulo %}
  Agreagar Paciente
{% endblock titulo%}
{% load static from staticfiles %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/add_paciente.css'%}" >
{% endblock styles %}
{% block content %}
  <div class="col-md-12">
    <section class="box">

      <h3>Ingreso de Paciente</h3>

      <p>
        Por favor ingrese los datos solicitados
      </p>

      <ul class="tabs">
        <li class="active">
          <a href="#" aria-expanded="true" id="paciente">Paciente</a>
        </li>
        <li>
          <a href="#" id="datos" aria-expanded="false">Datos Paciente</a>
        </li>
        <li>
          <a href="#" id="domicilio" aria-expanded="false">Domicilio</a>
        </li>
      </ul>

      <form method="POST">
        {% csrf_token %}
        <div class="tab-content tab-content-box">
          <div class="paciente">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Expediente</label>
                  {{paciente.expediente}}
                </div>

                <div class="form-group">
                  <label>No. de Afiliacion</label>
                  {{paciente.no_afiliacion}}
                </div>

                <div class="form-group">
                  <label>Nombre</label>
                  {{paciente.nombre}}
                </div>

                <div class="form-group">
                  <label>A Paterno</label>
                  {{paciente.apaterno}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>A Materno</label>
                  {{paciente.amaterno}}
                </div>

                <div class="form-group">
                  <label>Sexo</label>
                  {{paciente.sexo}}
                </div>
                <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  {{paciente.fec_nac}}
                </div>

                <div class="form-group">
                  <label>Entidad de Nacimiento</label>
                  {{paciente.entidad_nac}}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>CURP</label>
                  {{paciente.curp}}
                </div>

                <div class="form-group">
                  <label>Municipio</label>
                  {{paciente.municipio}}
                </div>

                <div class="form-group">
                  <label>Entidad</label>
                  {{paciente.entidad}}
                </div>

                <div class="form-group">
                  <label>Nacionalidad</label>
                  {{paciente.nacionalidad}}
                </div>
              </div>
            </div>
          </div>
          <div class="datos-paciente" style="display:none">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Celular</label>
                  {{datos.numero_cel}}
                </div>

                <div class="form-group">
                  <label>Tel. Fijo</label>
                  {{datos.num_tel_casa}}
                </div>

                <div class="form-group">
                  <label>Estado Civil</label>
                  {{datos.estado_civil}}
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Escolaridad</label>
                  {{datos.escolaridad}}
                </div>
                <div class="form-group">
                  <label>Ocupacion</label>
                  {{datos.ocupacion}}
                </div>
                <div class="form-group">
                  <label>Religion</label>
                  {{datos.religion}}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Dialecto</label>
                  {{datos.dialecto}}
                </div>

                <div class="form-group">
                  <label>Grupo Etnico</label>
                  {{datos.grupo_etnico}}
                </div>
              </div>
            </div>
          </div>
          <div class="domicilio" style="display:none">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Calle</label>
                  {{domicilio.calle}}
                </div>

                <div class="form-group">
                  <label>Num interior</label>
                  {{domicilio.Num_int}}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Num Exterior</label>
                  {{domicilio.Num_Ext}}
                </div>

                <div class="form-group">
                  <label>Colonia</label>
                  {{domicilio.colonia}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" name="guardar" class="btn btn-primary" value="Guardar">
      </form>

    </section>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/add_paciente.js'%}"></script>
{% endblock scripts %}
