{% extends 'template.html' %}
{% block titulo %}
  Agreagar Paciente
{% endblock titulo%}
{% load static from staticfiles %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/add_paciente.css'%}">
{% endblock styles %}
{% block content %}
  <div class="col-md-12">
    <section class="box">

      <h3>Ingreso de Paciente</h3>
      {% if paciente.errors or datos.errors or domicilio.errors %}
        <p class="alert alert-danger">
          Hacen falta campos por llenar o estan incorrectos porfavor verifique las pestañas y campos resaltados en <b>rojo</b>
        </p>
      {% else %}
        <p>
          Por favor ingrese los datos solicitados en cada una de las pestañas
        </p>
      {% endif %}

      <ul class="tabs">
        <li class="active">
          <a href="#" class="{%if paciente.errors %}text-danger{%endif%}" id="paciente">Paciente</a>
        </li>
        <li>
          <a href="#" id="datos" class="{%if datos.errors %}text-danger{%endif%}">Datos Paciente</a>
        </li>
        <li>
          <a href="#" id="domicilio" class="{%if domicilio.errors %}text-danger{%endif%}">Domicilio</a>
        </li>
      </ul>

      <form method="POST">
        {% csrf_token %}
        <div class="tab-content tab-content-box">
          <div class="paciente">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group {%if paciente.expediente.errors %}has-error{%endif%}">
                  <label>Expediente</label>
                  {{paciente.expediente}}
                </div>

                <div class="form-group {%if paciente.no_afiliacion.errors %}has-error{%endif%}">
                  <label>No. de Afiliacion</label>
                  {{paciente.no_afiliacion}}
                </div>

                <div class="form-group {%if paciente.nombre.errors %}has-error{%endif%}">
                  <label>Nombre</label>
                  {{paciente.nombre}}
                </div>

                <div class="form-group {%if paciente.apaterno.errors %}has-error{%endif%}">
                  <label>A Paterno</label>
                  {{paciente.apaterno}}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group {%if paciente.amaterno.errors %}has-error{%endif%}">
                  <label>A Materno</label>
                  {{paciente.amaterno}}
                </div>

                <div class="form-group {%if paciente.sexo.errors %}has-error{%endif%}">
                  <label>Sexo</label>
                  {{paciente.sexo}}
                </div>
                <div class="form-group {%if paciente.fec_nac.errors %}has-error{%endif%}">
                  <label>Fecha de Nacimiento</label>
                  {{paciente.fec_nac}}
                </div>

                <div class="form-group {%if paciente.entidad_nac.errors %}has-error{%endif%}">
                  <label>Entidad de Nacimiento</label>
                  {{paciente.entidad_nac}}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group {%if paciente.curp.errors %}has-error{%endif%}">
                  <label>CURP</label>
                  {{paciente.curp}}
                </div>

                <div class="form-group {%if paciente.municipio.errors %}has-error{%endif%}">
                  <label>Municipio</label>
                  {{paciente.municipio}}
                </div>

                <div class="form-group {%if paciente.entidad.errors %}has-error{%endif%}">
                  <label>Entidad</label>
                  {{paciente.entidad}}
                </div>

                <div class="form-group {%if paciente.nacionalidad.errors %}has-error{%endif%}">
                  <label>Nacionalidad</label>
                  {{paciente.nacionalidad}}
                </div>
              </div>
            </div>
          </div>
          <div class="datos-paciente" style="display:none">
            <div class="row">
              <div class="col-md-4">
                  <select class="exp" id="id_form-2-paciente" name="form-2-paciente">
                    <option id='change2' value="" selected="selected">---------</option>
                  </select>
                <div class="form-group {%if datos.numero_cel.errors %}has-error{%endif%}">
                  <label>Celular</label>
                  {{datos.numero_cel}}
                </div>

                <div class="form-group {%if datos.num_tel_casa.errors %}has-error{%endif%}">
                  <label>Tel. Fijo</label>
                  {{datos.num_tel_casa}}
                </div>

                <div class="form-group {%if datos.estado_civil.errors %}has-error{%endif%}">
                  <label>Estado Civil</label>
                  {{datos.estado_civil}}
                </div>

              </div>
              <div class="col-md-4">
                <div class="form-group {%if datos.escolaridad.errors %}has-error{%endif%}">
                  <label>Escolaridad</label>
                  {{datos.escolaridad}}
                </div>
                <div class="form-group {%if datos.ocupacion.errors %}has-error{%endif%}">
                  <label>Ocupacion</label>
                  {{datos.ocupacion}}
                </div>
                <div class="form-group {%if datos.religion.errors %}has-error{%endif%}">
                  <label>Religion</label>
                  {{datos.religion}}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group {%if datos.dialecto.errors %}has-error{%endif%}">
                  <label>Dialecto</label>
                  {{datos.dialecto}}
                </div>

                <div class="form-group {%if datos.grupo_etnico.errors %}has-error{%endif%}">
                  <label>Grupo Etnico</label>
                  {{datos.grupo_etnico}}
                </div>
              </div>
            </div>
          </div>
          <div class="domicilio" style="display:none">
            <div class="row">
              <div class="col-md-6">
                  <select class="exp" id="id_form-3-paciente" name="form-3-paciente">
                    <option id='change3' value="" selected="selected">---------</option>
                  </select>
                <div class="form-group {%if domicilio.calle.errors %}has-error{%endif%}">
                  <label>Calle</label>
                  {{domicilio.calle}}
                </div>

                <div class="form-group {%if domicilio.Num_int.errors %}has-error{%endif%}">
                  <label>Num interior</label>
                  {{domicilio.Num_int}}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group {%if domicilio.Num_Ext.errors %}has-error{%endif%}">
                  <label>Num Exterior</label>
                  {{domicilio.Num_Ext}}
                </div>

                <div class="form-group {%if domicilio.colonia.errors %}has-error{%endif%}">
                  <label>Colonia</label>
                  {{domicilio.colonia}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" name="guardar" class="btn btn-primary" value="Guardar">
      </form>

    </section>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/add_paciente.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/values.js'%}"></script>
{% endblock scripts %}
