{% extends "template.html" %}
{% block titulo %}
  Paciente
{% endblock titulo %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/sd-admin.css' %}">
{% endblock styles %}
{% static "views/settings.html" %}

{% block content %}
{% verbatim %}
  <div ng-app="pacientApp">
    <div class="contenedor">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
            <li><a href="#">algo</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <div ng-view>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/pacienteApp.js'%}"></script>
<script type="text/javascript" src="{% static 'js/controllers/pacientController.js'%}"></script>
{% endblock scripts %}
