{% extends "template.html" %}
{% block titulo %}
  Pacientes
{% endblock titulo %}
{% load static from staticfiles %}

{% block content %}
  {% verbatim %}
  <div ng-app>
    <div ng-controller="Hello">
      <p>
        {{greeting}}
      </p>
    <div ng-repeat='pacient in greeting'>
      <p>
        {{pacient.nombre}}
      </p>
    </div>
    </div>
  </div>
  {% endverbatim %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/pacientes.js'%}"></script>
{% endblock scripts%}
