{% extends "template.html" %}
{% block titulo %} Pacientes {% endblock titulo %}
{% load static from staticfiles %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/pacientes.css' %}">
{% endblock styles %}
{% block content %}
{% verbatim %}
<div ng-app="pacientsApp">
    <div ng-controller="pacientsController">
        <div class="navbar navbar-default">
            <div class="tools-pacients collapse navbar-collapse">
                <div class="row">
                    <div class="col-md-8">
                        <form class="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Buscar Paciente" ng-model="searchPacient">
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown filter">
                            <a class="btn-filter dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="filter_tag">Filtrar</span>&nbsp
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="filters = 'servselect10'">servselect10</a></li>
                                <li><a href="#" ng-click="filters = 'servselect1'">servselect1</a></li>
                                <li><a href="#" ng-click="filters = 'servselect2'">servselect2</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" ng-click="filters = ''; $event.preventDefault()" class="clean">Limpiar</a>
                        </li>
                        <li>
                          <a href="#" ng-click="report($event)">Reporte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-primary" id="exportthis">
            <div class="panel-heading">
                <h3 class="panel-title">Pacientes</h3>
            </div>
            <table class="table table-striped table-pacients">
                <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="order_by($event, 'expediente')">
                              Expediente
                              <span ng-show="sortType == 'expediente' && !sortReverse"
                              class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-show="sortType == 'expediente' && sortReverse"
                              class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="order_by($event, 'nombre')">
                              Paciente
                              <span ng-show="sortType == 'nombre' && !sortReverse"
                              class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-show="sortType == 'nombre' && sortReverse"
                              class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="order_by($event, 'fecha_internado')">
                              Fecha de Ingreso
                              <span ng-show="sortType == 'fecha_internado' && !sortReverse"
                              class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-show="sortType == 'fecha_internado' && sortReverse"
                              class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="order_by($event, 'servicios')">
                              Servicios
                              <span ng-show="sortType == 'servicios' && !sortReverse"
                              class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-show="sortType == 'servicios' && sortReverse"
                              class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="order_by($event, 'cama')">
                              Cama
                              <span ng-show="sortType == 'cama' && !sortReverse"
                              class="glyphicon glyphicon-chevron-down"></span>
                              <span ng-show="sortType == 'cama' && sortReverse"
                              class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="showPacient(pacient.expediente)" ng-repeat="pacient in pacients | orderBy:sortType:sortReverse | filter:filters: !filters ? false : true | filter:searchPacient">
                        <td>
                            {{pacient.expediente}}
                        </td>
                        <td>
                            {{pacient.nombre}} {{pacient.apaterno}}
                        </td>
                        <td>
                            {{pacient.fecha_internado | date}}
                        </td>
                        <td>
                            {{pacient.servicios}}
                        </td>
                        <td>
                            {{pacient.cama}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endverbatim %}
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/vendor/html2canvas.js'%}"></script>
<script src="{% static 'js/vendor/pdfmake.min.js'%}"></script>
<script src="{% static 'js/pacientesApp.js'%}"></script>
<script src="{% static 'js/controllers/pacientsController.js'%}"></script>
<script src="{% static 'js/services/pacients.js'%}"></script>
<script src="{% static 'js/vendor/bootstrap.js'%}"></script>
{% endblock scripts%}
