{% extends "template.html" %}
{% block titulo %}
  Paciente
{% endblock titulo %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/sd-admin.css' %}">
{% endblock styles %}

{% block content %}
{% verbatim %}
  <div ng-app="pacientApp">
    <div ng-controller="pacientController">
      <div class="contenedor">
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
              <li ng-class="{active : tab == 1}">
                <a ng-click="tab = 1" ui-sref="Perfil({id:id})">Perfil</a>
              </li>
              <li ng-class="{active : tab == 2}">
                <a ng-click="tab = 2" ui-sref="Datos({id:id})">Datos Paciente</a>
              </li>
              <li ng-class="{active : tab == 3}">
                <a ng-click="tab = 3" ui-sref="Domicilio({id:id})">Domicilio</a>
              </li>
              <li ng-class="{active : tab == 4}">
                <a ng-click="tab = 4" ui-sref="Info({id:id})">Info Clinica</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div ui-view>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endverbatim %}
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/pacienteApp.js'%}"></script>
<script type="text/javascript" src="{% static 'js/controllers/pacientController.js'%}"></script>
<script type="text/javascript" src="{% static 'js/controllers/pacientPerfil.js'%}"></script>
<script type="text/javascript" src="{% static 'js/services/perfil.js'%}"></script>
{% endblock scripts %}
