<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {%block titulo%}{%endblock titulo%}
    </title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" >
    <link rel="stylesheet" href="{% static 'css/elements.css'%}" >
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <header class="navbar navbar-default">
    <div class="contenedor">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
        Trabajo Social
      </a>
        </div>
    </div>
</header>
    <div class="contenedor">
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <footer class="footer">
      <h3>Sistema de Información Hospitalaria 2015 | HGSJR</h3>
    </footer>
    <script type="text/javascript" src="{% static 'js/vendor/angular.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/angular-ui-router.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js'%}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
